#minimal tophatconfig

RUNTOPHAT="1"    # mapping with tophat (RNAseq)

SOURCE=$(pwd)

declare -a DIR; DIR=( A1  A2  A3  B1  B2  B3 )

INPUT_TOPHAT="fastq/RNAseq"

OUT=$SOURCE

QOUT=$OUT/qout

FASTQ="fastq.gz"

READONE="_R1"
READTWO="_R2"

FASTA=/share/ClusterShare/biodata/contrib/genomeIndices_garvan/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome.fa

# choose "fr-firststrand" "fr-unstranded" "fr-secondstrand"
RNA_SEQ_LIBRARY_TYPE="fr-firststrand"

EXPID="Celltype"
LIBRARY="RNAseq"
PLATFORM="Illumina"

TOPHATTRANSCRIPTOMEINDEX="/share/ClusterShare/biodata/contrib/GENCODE/release_19/transcriptome_index/known"

GTF=/share/ClusterShare/biodata/contrib/GENCODE/release_19/gencode.v19.annotation.reduced.gtf


CPU_TOPHAT=1


