
.DS_Store

*.pyc

doc/publications/appNote/ngsane.bib.bak

*.orig

*.orig

doc/publications/BigData2014/BigData2014.Data/Trash/Trash.Data/rdb/csort.MYD

*.MYI

*.frm

*.opt

*.MYD

doc/publications/BigData2014/BigData2014.Data/Trash/Trash.enl
