<style type="text/css">
body {
	font: 12px/19px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
		Verdana, sans-serif;
}

h2 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

h4 {
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.panel h2 {
	background-color: #999;
	border-radius: 10px;
	color: white;
	font-size: 100%;
	font-weight: normal;
	font-variant:small-caps;
	padding: 2px 10px;
	margin: 0px;
}

.panel h3 {
    border-top: 1px solid #69c;
    border-bottom: 1px dotted #69c;
	background-color: #efecff;
	color: #17212e;
	font-size: 100%;
	font-weight: normal;
	padding: 2px 10px;
	margin: 0px;
}

.panel h3.overall {
	border-top: 3px double #69c;
	text-transform: small_caps;
}

div.panel h2,div.panel h2.sub.inactive {
	background: #888;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9aa6),
		to(#17212e));
	background-image: -webkit-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -moz-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -ms-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -o-linear-gradient(top, #8a9aa6, #17212e);
	background-image: linear-gradient(top, #8a9aa6, #17212e);
}

.panel#quicklinks h3{
	background-color: #8b5;
	color: white;
	text-transform: small_caps;
}

div.panel#quicklinks h2{
	background: #888;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9aa6),
		to(#17212e));
	background-image: -webkit-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -moz-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -ms-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -o-linear-gradient(top, #8a9aa6, #17212e);
	background-image: linear-gradient(top, #8a9aa6, #17212e);
}

div.panel h2.sub.inactive {
	color: #dedede;
	cursor: pointer;
	border-top-color: #ccc;
	border-left-color: #aaa;
}

div.headbagb {
	width: 100%;
	border-radius: 10px 10px 0 0;
	background: #555;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9aa6),
		to(#17212e));
	background-image: -webkit-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -moz-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -ms-linear-gradient(top, #8a9aa6, #17212e);
	background-image: -o-linear-gradient(top, #8a9aa6, #17212e);
	background-image: linear-gradient(top, #8a9aa6, #17212e);
}

.box{
    padding: 5px;
}

div.panel {
	background: #fafaff;
	border: 1px solid #999;
	border-radius: 12px;
	padding: 2px;
	margin-bottom: 25px;
	min-width:1050px;
}

#controls div,#gallery div {
	margin: 2px 0;
	width: 240px;
}

a {
	display: inline-block;
	outline: 0;
	color: #333;
}

#quicklinks a {
	padding: 2px;
	margin: 2px;
	transition-duration: 0.25s;
	transition-property: transform;
	transform: scale(1);
}

#quicklinks a:hover {
	background: #17212e;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	transform: scale(1.05);
}

div.panel h2.sub {
	margin-left: 2px;
	margin-top: 2px;
	background: #fafaff;
	border-radius: 10px 10px 0 0;
	border: 1px solid #666;
	border-top-color: #EEE;
	border-left-color: #DDD;
	color: #444;
	border-bottom: none;
	display: inline-block;
	vertical-align: top;
	width: 180px;
}

div.panel span.counter {
    background: none repeat scroll 0 0 #444;
    border-radius: 7px 7px 7px 7px;
    color: #333;
    display: inline;
    font-size: 90%;
    font-weight:bold;
    letter-spacing: 0;
    margin-left: 6px;
    text-transform: none;
}

div.panel span.counter span.passed{
    background: none repeat scroll 0 0 #dfd;
    border-radius: 7px 0px 0px 7px;
    padding: 0px 5px;
    color:#060;
    border: 1px solid #0a0;
}

div.panel span.counter span.failed{
    background: none repeat scroll 0 0 #866;
    border-radius: 0px 7px 7px 0px;
    padding: 0px 5px;
    color:#eee;
    border: 1px solid #a00
}

div.panel span.counter span.nofailed{
    background: none repeat scroll 0 0 #ddd;
    border-radius: 0px 7px 7px 0px;
    padding: 0px 5px;
    color:#666;
    border: 1px solid #444
}

div.panel span.counter span.errors{
    background: none repeat scroll 0 0 #866;
    border-radius: 7px 7px 7px 7px;
    padding: 0px 5px;
    color:#eee;
    border: 1px solid #a00;
}

div.panel span.counter span.neutral{
    background: none repeat scroll 0 0 #ddd;
    border-radius: 7px 7px 7px 7px;
    padding: 0px 5px;
    color:#666;
    border: 1px solid #444;
}

div.wrapper {
	margin: auto; 
	width: 100%;
	padding-top: 5px;
}

div.display {
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 10px;
}

div.hidden {
    display:none;
}

p {
	color: blue;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.data {
    table-layout: fixed;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
	margin: 10px 0 20px 0;
}

table,caption,tbody,tfoot,thead,tr,th {
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
}

table.data tbody{
    background: #efecff;
}

table.data th {
	font-weight: bold;
	font-size: 12px;
	color: #17212e;
	border-bottom: 1px dashed #69c;
	padding: 12px 5px;
	text-align:right;
}

table.data th div{
	width: 100px;
}

table.data td {
	color: #555e66;
	padding: 3px 5px;
	text-align:right;
	white-space: nowrap;
}

table.data td.left, table.data  th.left{
	text-align:left;
	width: auto;
}

table.data tfoot {
	border-top: 1px dashed #69c;
}

div.library {
	background: #fff;
	padding: 10px;
	max-width: 1200px;
}

pre {
    padding: 0 10px 0 10px;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}
span {
    color:#666;
    font-size:10px;
}

img {
    border: 1px solid #8a9aa6;
}

img.noborder {
    border: 0px;
}

</style>